body.bodea-theme {
  --bot-icon: url("https://demo-system-next.s3.amazonaws.com/assets/bot/bot.png");
  --body-font-family: "Open Sans", sans-serif, proxima-nova, sans-serif;
  --heading-font-family: "Open Sans", sans-serif, proxima-nova, sans-serif;
  --logo: url("https://demo-system-next.s3.amazonaws.com/assets/bodea/Bodea_logo.png");
  --footer-logo: url("https://demo-system-next.s3.amazonaws.com/assets/bodea/Bodea_logo.png");

  --main-accent-color: #35b28c;
  --main-accent-hover: #2d9a78;
  --link-hover-color: #35b28c;

  --background-color: #ffffff;
  --header-background-color: #ffffff;
  --footer-background-color: #f2f2f2;

  --text-color: #2c2c2c;
  --primary-text-color: #2c2c2c;
  --nav-text-color: #28272b;
  --footer-text-color: #2c2c2c;

  --border-radius: 0;
  --fonts-project-id: ysb2tjo;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.bodea-theme main {
  flex: 1;
  overflow: hidden;
}

body.bodea-theme main > .section:not([data-sec-full-width="true"]) {
  max-width: 1280px;
  width: 100%;
}
body.bodea-theme main  > .section.bg-dark > div {
    max-width: 1200px !important;
    margin: auto !important;
}

body.bodea-theme main .button:hover{
    filter: brightness(115%);
}
/* header */
body.bodea-theme header {
    display: none;
    width: 100%;
    overflow: hidden;
    padding-top: 24px;
    color: var(--nav-text-color);
    background-color: var(--header-background-color);
    transition: top .3s;
}
/* Banner */
/* ===========================
   Bodea Banner
=========================== */
/* ─────────── Hero Banner ─────────── */

body.bodea-theme main .bodea-banner {
    max-width: 100% !important;
    padding: 0;
}

body.bodea-theme main .bodea-banner .hero-wrapper,
body.bodea-theme main .bodea-banner .hero {
    max-width: 100%;
}

body.bodea-theme main .bodea-banner .hero {
    position: relative;
    height: 500px;
    display: block;
}

/* Image */

body.bodea-theme main .bodea-banner .hero > div:first-child {
    width: 100%;
}

body.bodea-theme main .bodea-banner .hero picture {
    display: block;
}

body.bodea-theme main .bodea-banner .hero picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* White Card */

body.bodea-theme main .bodea-banner .hero > div:nth-child(2) {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    padding-bottom: 2rem;
    padding-top: 0;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
    z-index: 5;
}

@media (min-width: 1200px) {

    body.bodea-theme main .bodea-banner .hero > div:nth-child(2) {
        left: 50%;
        transform: translateX(-50%);
        max-width: 1200px;
        padding-left: 1.67em;
        padding-right: 0;

    }

}

/* Heading */

body.bodea-theme main .bodea-banner h1 {
    color: #1b1b1b;
    font-family: var(--heading-font-family);
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5;
    margin: 20px auto 0px;
    text-align: left;
}

body.bodea-theme main .bodea-banner .hero h1::after {
    content: none;
    display: none;
}

body.bodea-theme main .bodea-banner h1 strong {
    font-weight: 500;
}

/* Subtitle */

body.bodea-theme main .bodea-banner p:first-of-type {
   text-align: left;
    color: #222;
    font-size: 16px;
    font-weight: 300;
    margin-top:0;
    line-height: 2rem;
}

/* Button */

body.bodea-theme main .bodea-banner .button-container {
    margin-top:1rem;
    text-align:left;
}

body.bodea-theme main .bodea-banner .button {
    background: #35b28c;
    border: 2px solid #35b28c;
    color: #fff !important;
    padding: 16px 42px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0;
    display: inline-block;
    margin:0;
}

body.bodea-theme main .bodea-banner .button:hover {
    background: var(--link-hover-color);
    border-color: var(--link-hover-color);
}

/* Leave space for overlap */

body.bodea-theme main .bodea-banner {
    margin-bottom: 110px;
}

/* Mobile */

@media (max-width: 991px) {

    body.bodea-theme main .bodea-banner .hero > div:nth-child(2) {
        position: relative;
        left: auto;
        bottom: auto;
        width: calc(100% - 40px);
        margin: -80px auto 0;
        padding: 32px;
    }

    body.bodea-theme main .bodea-banner .hero picture img {
        height: 450px;
    }

    body.bodea-theme main .bodea-banner h1 {
        font-size: 2.2rem;
    }

    body.bodea-theme main .bodea-banner p:first-of-type {
        font-size: 1.1rem;
    }
}