body.binji-theme main .binji-home-signin.section {
  margin: 0;
}
body.binji-theme main .sign-in-wrapper {
  display: block;
}
body.binji-theme main .sign-in-wrapper .sign-in.block {
  margin: 0 0 0 auto;
  padding: 2rem;
  background: #000;
  border-radius: 2rem;
  max-width: 400px;
}
body.binji-theme main .sign-in-wrapper .sign-in.block .form {
  position: relative;
}
body.binji-theme main .sign-in-wrapper .sign-in.block .heading-wrapper {
  display: none;
}
body.binji-theme main .sign-in-wrapper .sign-in.block label {
  font-size: 12px;
  padding: 4px 0 5px;
  margin: 0;
  color: #fff;
}
body.binji-theme main .sign-in-wrapper .sign-in.block [data-required=true] > label::after {
  content: unset;
}
body.binji-theme main .sign-in-wrapper .sign-in.block input[type=text],
body.binji-theme main .sign-in-wrapper .sign-in.block input[type=email],
body.binji-theme main .sign-in-wrapper .sign-in.block input[type=password] {
  margin: 0;
  height: 32px;
  padding: 3px 12px 5px 11px;
  font-size: 12px;
  border-radius: 4px;
}
body.binji-theme main .sign-in-wrapper .sign-in.block .submit-wrapper {
  text-align: center;
}
body.binji-theme main .sign-in-wrapper .sign-in.block .submit-wrapper button {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 3px 14px 5px;
  background-color: #ff8038;
  border-radius: 2rem;
  text-transform: unset;
}
body.binji-theme main .sign-in-wrapper .sign-in.block .sign-in-divider {
  display: none;
}
body.binji-theme main .sign-in-wrapper .sign-in.block .sign-in-links .create-account-link {
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #fff;
  text-decoration: underline;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 400;
  font-family: "Adobe Clean", sans-serif;
  text-transform: unset;
}
body.binji-theme main .sign-in-wrapper .sign-in.block:has(.create-account-link) {
  margin: 2rem auto;
}
body.binji-theme main .sign-in-wrapper .sign-in.block:has(.create-account-link) .submit-wrapper {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 55px;
}
@media screen and (max-width: 768px) {
  body.binji-theme main .sign-in-wrapper .sign-in.block:has(.create-account-link) .submit-wrapper {
    margin-left: 0;
  }
}
body.binji-theme main .sign-in-wrapper .sign-in.block:has(.create-account-link) .sign-in-links {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  position: absolute;
  bottom: 12px;
  left: 165px;
}
@media screen and (max-width: 768px) {
  body.binji-theme main .sign-in-wrapper .sign-in.block:has(.create-account-link) .sign-in-links {
    left: 100px;
  }
}
body.binji-theme main .sign-in-page.section .sign-in-wrapper .sign-in.block {
  margin: 0 auto;
}
body.binji-theme main .sign-in-page.section .sign-in-wrapper .sign-in.block .heading-wrapper {
  display: block;
}
body.binji-theme main .sign-in-page.section .sign-in-wrapper .sign-in.block .heading-wrapper h2#heading-sign-in {
  font-size: 28px;
  margin: 0.67rem auto;
  padding-bottom: 32px;
  color: #fff;
}
body.binji-theme main > .section.home-nli-banner.section-has-bg[data-sec-full-width=true] > div {
  margin: 0;
  padding: 0;
  width: 100%;
}
body.binji-theme main > .section.home-nli-banner.section-has-bg[data-sec-full-width=true] > div.default-content-wrapper {
  max-width: 700px;
}
body.binji-theme main > .section.home-nli-banner.section-has-bg[data-sec-full-width=true] > div.sign-in-wrapper {
  max-width: 500px;
}
body.binji-theme main .home-nli-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 1rem;
}
@media screen and (max-width: 768px) {
  body.binji-theme main .home-nli-banner {
    flex-direction: column;
    padding: 2rem 1rem 1rem;
  }
}
body.binji-theme main .home-nli-banner .default-content-wrapper p {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
  color: #fff;
  max-width: 600px;
  margin: 0;
}
body.binji-theme main .home-nli-banner .default-content-wrapper h1 {
  font-size: 48px;
  line-height: 1.5;
  color: #fff;
  font-weight: 700;
  padding: 0;
  margin: 0.67em 0;
  max-width: 600px;
}
@media screen and (max-width: 768px) {
  body.binji-theme main .section.category-products-lister-container {
    padding: 0 1rem;
  }
}
body.binji-theme main .section.category-products-lister-container .category-products-lister-wrapper {
  padding: 0;
}
body.binji-theme main .section.category-products-lister-container .default-content-wrapper {
  padding: 0;
}
body.binji-theme main .section.category-products-lister-container .default-content-wrapper h2 {
  color: #fff;
  padding: 0;
  margin: 0.67em 0;
  font-size: 28px;
  line-height: 1.5;
}
body.binji-theme main .section.category-products-lister-container .cpl-tags {
  display: none;
}
body.binji-theme main .section.category-products-lister-container .category-products-lister .cpl-grid {
  gap: 1rem;
}
body.binji-theme main .section.category-products-lister-container .category-products-lister .cpl-card {
  background-color: transparent;
  border: none;
  border-radius: 0;
}
body.binji-theme main .section.category-products-lister-container .category-products-lister .cpl-card .cpl-card-media {
  height: -moz-fit-content;
  height: fit-content;
}
body.binji-theme main .section.category-products-lister-container .category-products-lister .cpl-card .cpl-card-media img {
  min-height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body.binji-theme main .section.category-products-lister-container .category-products-lister .cpl-card .cpl-card-meta {
  padding: 16px 0 0;
  align-items: flex-start;
}
body.binji-theme main .section.category-products-lister-container .category-products-lister .cpl-card .cpl-card-meta .cpl-card-category {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  font-weight: 700;
  text-align: left;
}
body.binji-theme main .section.category-products-lister-container .category-products-lister .cpl-card .cpl-card-meta .cpl-card-title {
  font-size: 21px;
  line-height: 32px;
  margin: 0 0 0.83em;
}
body.binji-theme main .section.binji-promo-banner {
  margin: 0;
}
body.binji-theme main .section.binji-promo-banner .columns.block {
  padding: 1rem 0;
}
body.binji-theme main .section.binji-promo-banner .columns.block .columns-row {
  gap: 48px;
  justify-content: center;
}
body.binji-theme main .section.binji-promo-banner .columns.block div > .columns-img-col picture::before {
  content: unset;
}
body.binji-theme main .section.binji-promo-banner .columns.block div > .columns-img-col img {
  max-width: 500px;
  margin-left: auto;
}
body.binji-theme main .section.binji-promo-banner .columns.block .columns-item-vertical:not(.columns-img-col) {
  gap: 0;
  max-width: 450px;
}
@media screen and (max-width: 768px) {
  body.binji-theme main .section.binji-promo-banner .columns.block .columns-item-vertical:not(.columns-img-col) h1,
  body.binji-theme main .section.binji-promo-banner .columns.block .columns-item-vertical:not(.columns-img-col) h2,
  body.binji-theme main .section.binji-promo-banner .columns.block .columns-item-vertical:not(.columns-img-col) p {
    text-align: center;
  }
  body.binji-theme main .section.binji-promo-banner .columns.block .columns-item-vertical:not(.columns-img-col) .button {
    margin: 1rem auto 0;
  }
}
body.binji-theme main .section.binji-promo-banner .columns.block h1 {
  font-size: 28px;
  margin: 0.67em 0;
  padding: 0;
}
body.binji-theme main .section.binji-promo-banner .columns.block h2 {
  margin: 0.83em 0;
  padding: 0;
  font-size: 21px;
}
body.binji-theme main .section.binji-promo-banner .columns.block p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  font-weight: 400;
}
body.binji-theme main .section.binji-promo-banner .columns.block .button {
  display: block;
  background-color: #ff8038;
  padding: 4px 14px 6px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 2rem;
  color: #fff;
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 14px;
  line-height: 1.5;
}
body.binji-theme main .section.binji-promo-banner .columns.block .button::after {
  content: unset;
}
body.binji-theme main .section.binji-promo-banner .columns.block .button:hover {
  color: #fff;
}
body.binji-theme main .section.binji-promo-banner--reverse .columns.block div > .columns-img-col img {
  max-width: 500px;
  height: 450px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: unset;
}
@media screen and (max-width: 768px) {
  body.binji-theme main .section.binji-promo-banner--reverse .columns.block div > .columns-img-col img {
    height: unset;
  }
}
body.binji-theme main .section.binji-promo-banner--reverse .columns.block .columns-item-vertical:not(.columns-img-col) {
  align-items: flex-end;
  text-align: right;
}
body.binji-theme main .section.binji-promo-banner--reverse .columns.block .button {
  margin-left: auto;
}
body.binji-theme main .section.video-container .video-wrapper {
  padding: 0;
}
body.binji-theme main .section.video-container .video-wrapper video {
  width: 100%;
  max-width: unset;
}

body.binji-theme:has(.user-profile-btn) main .section:has(.sign-in-wrapper) {
  display: none !important;
}/*# sourceMappingURL=binji-theme.v2.css.map */